@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}

/* properties for link text */
.links li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 15px;
  line-height: 3.1;
  color: whitesmoke;
}

/* links container */
.links {
  visibility: hidden;
  display: block;
  position: fixed;
  z-index: 9999;
  list-style: none;
  pointer-events: none;
  text-align: center;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  top: 18px;
  left: 23px;
  height: 380px;
  width: 240px;
  padding: 0px;
}

/* visibility for links on checkbox input checked */
.menu:checked ~ .links {
  visibility: visible;
  transition: visibility 700ms 600ms;
  z-index: 99999;
}

/* navigation blob */
.blob {
  position: fixed;
  display: block;
  top: 18px;
  left: 23px;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746;
  animation: start 1.8s;
  animation: border-transform 5s linear infinite;
}

/* Nav blob icon on click animation */
.menu:checked ~ .blob {
  top: 18px;
  left: 24px;
  height: 380px;
  width: 240px;
  animation: border-transform 0s linear 0;
  transition: top 800ms ease-out, width 800ms ease-out, height 800ms ease-out,
    left 800ms ease-out;
}

/* Nav blob icon on click animation */
.menu:not(:checked) ~ .blob {
  position: fixed;
  display: block;
  top: 18px;
  left: 23px;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746;
  animation: start 1.8s;
  animation: border-transform 5s linear infinite;
  transition: top 800ms ease-out, width 800ms ease-out, height 800ms ease-out,
    left 800ms ease-out;
}

/* animation for navigation blob */
@keyframes border-transform {
  0%,
  100% {
    border-radius: 78% 37% 47% 58% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

/* entire navigation zone */
.checkbox-wrapper {
  position: absolute;
  display: block;
  left: 24px;
  height: 380px;
  width: 240px;
  top: 18px;
}

/* checkbox for navigation open/closed */
.checkbox-wrapper input {
  position: fixed;
  top: 28px;
  left: 33px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 9999;
}

/* top hamburger bar */
.checkbox-wrapper label::before {
  content: "";
  height: 1px;
  width: 28px;
  border-bottom: 2px solid white;
  position: fixed;
  left: 46px;
  top: 40px;
  z-index: 9998;
}

/* bottom two hamburger bars */
.checkbox-wrapper label::after {
  content: "";
  height: 10px;
  width: 28px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  position: fixed;
  left: 46px;
  top: 53px;
  z-index: 9998;
}

/* top hamburger bar animation on click - turning in to an X */
.menu:checked + label:before {
  top: 50px;
  left: 38px;
  transform: rotate(45deg);
  width: 42px;
  height: 1px;
  background-color: white;
  border-bottom: 2px solid white;
  transition: top 200ms 200ms, left 600ms 200ms, width 1s 200ms ease,
    height 600ms 200ms, background-color 200ms 500ms ease, transform 200ms 500ms;
}

/* bottom hamburger bar animation on click - turning in to an X */
.menu:checked + label:after {
  top: 50px;
  left: 38px;
  transform: rotate(-45deg);
  width: 42px;
  height: 1px;
  background-color: white;
  border-top-width: 0px;
  border-bottom: 2px solid white;
  transition: top 200ms 200ms, left 600ms 200ms, width 1s 200ms ease,
    border-top-width 100ms 200ms ease, height 600ms 200ms,
    background-color 200ms 500ms ease, transform 200ms 500ms;
}

/* top hamburger bar animation on click - turning in to an hamburger */
.menu:not(:checked) + label:before {
  top: 40px;
  left: 46px;
  transform: rotate(0deg);
  width: 28px;
  height: 1px;
  border-bottom: 2px solid white;
  transition: top 200ms 480ms, left 600ms 200ms, width 1s 100ms ease,
    height 600ms 200ms, background-color 200ms 500ms ease, transform 200ms 10ms;
}

/* bottom hamburger bar animation on click - turning in to an hamburger */
.menu:not(:checked) + label:after {
  top: 53px;
  left: 46px;
  transform: rotate(0deg);
  width: 28px;
  height: 10px;
  border-top-width: 2px solid white;
  border-bottom: 2px solid white;
  transition: top 200ms 480ms, left 600ms 200ms, width 1s 100ms ease,
    border-top-width 1ms 10ms ease, height 200ms 480ms, transform 200ms 10ms;
}

/* Hero Container properties */
.hero {
  width: 100vw;
  height: 84vh;
  background-color: whitesmoke;
  /* background-color: #353746; */
  display: flex;
  justify-content: center;
}

/* hero img size and position */
.hero .img {
  position: relative;
  width: 495px;
  height: 630px;
  top: 16%;
  background-color: aqua;
}

/* Github and LinkedIn Links position*/
.social-media {
  position: relative;
  margin-left: 11px;
  display: flex;
  flex-direction: column;
  width: 37px;
  top: 16%;
}

/* Github and LinkedIn icons spacing and size */
.social-media a img {
  margin-bottom: 4px;
  width: 37px;
}

.about {
  background-color: #1f2833;
  overflow: hidden;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  margin-top: 160px;
}

.about-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  color: whitesmoke;
  margin-bottom: 0px;
}

#about-line {
  border-top: 2px solid #cc3030;
  height: 1px;
  margin-top: 80px;
  margin-left: 20px;
  flex-grow: 1;
  margin-right: 18%;
  box-shadow: #1a0e0e 3px 6px 16px;
}

.break {
  flex-basis: 100%;
}

article {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  margin-left: 5%;
  margin-bottom: 3%;
  margin-right: 20%;
  margin-top: 20px;
}

.skills {
  align-items: center;
  display: flex;
}

.skills img {
  width: 80px;
  margin-left: 33px;
}

.skills img:last-child {
  height: 69px;
}

.projects {
  background-color: #1f2833;
  overflow: hidden;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  margin-top: 0px;
  justify-content: flex-end;
}

.projects-container h2 {
  margin-top: 0px;
  margin-right: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  color: whitesmoke;
  margin-bottom: 0px;
}

#projects-line {
  border-top: 2px solid #cc3030;
  height: 1px;
  margin-top: 35px;
  margin-left: 45%;
  flex-grow: 1;
  margin-right: 20px;
  box-shadow: #1a0e0e 3px 6px 16px;
}

.projects-container img {
  width: 69%;
  margin-top: 4%;
  box-shadow: #1a0e0e 0px 5px 36px;
}

.info {
  margin-right: 5%;
  margin-left: 6%;
  text-align: right;
  margin-top: 10%;
}

.info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #cc3030;
  margin-bottom: 0px;
}

.info h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: whitesmoke;
  margin-top: 2px;
}

.info p {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  background-color: #cc3030;
  padding: 13px;
  margin: 0px;
  border-radius: 2%;
  text-align: initial;
  width: 214px;
  right: 10%;
  position: absolute;
  box-shadow: #1a0e0e 5px 5px 20px;
}

.other-works {
  background-color: #1f2833;
  overflow: hidden;
}

.other-works-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  margin-top: 47px;
}

.other-works-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  color: whitesmoke;
  margin-bottom: 0px;
}

#other-works-line {
  border-top: 2px solid #cc3030;
  height: 1px;
  margin-top: 80px;
  margin-left: 20px;
  flex-grow: 1;
  margin-right: 18%;
  box-shadow: #1a0e0e 3px 6px 16px;
}

.works-wrapper {
  position: relative;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.works-wrapper img {
  display: block;
  width: 260px;
  height: 260px;
  object-fit: cover;
  background-color: white;
  margin-top: 5%;
}

.contact-me {
  background-color: #1f2833;
  overflow: hidden;
  height: 90vh;
}

.contact-me-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  margin-top: 120px;
  align-items: center;
}

.contact-me h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  color: whitesmoke;
  margin-bottom: 0px;
}

.contact-me p {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  margin-top: 40px;
  width: 23%;
  text-align: center;
}

button {
  margin-top: 50px;
}
