@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* navigation blob */
.blob {
  position: fixed;
  display: block;
  z-index: -1;
  top: 18px;
  left: 23px;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746;
  animation: start 1.8s;
  animation: border-transform 5s linear infinite;
}

.menu:checked ~ .blob {
  top: 18px;
  left: 24px;
  height: 380px;
  width: 240px;
  animation: border-transform 0s linear 0;
  transition: top 800ms ease-out, width 800ms ease-out, height 800ms ease-out,
    left 800ms ease-out;
}

.menu:not(:checked) ~ .blob {
  position: fixed;
  top: 18px;
  left: 23px;
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);
  background-color: #353746;
  animation: start 1.8s;
  animation: border-transform 5s linear infinite;
  transition: top 800ms ease-out, width 800ms ease-out, height 800ms ease-out,
    left 800ms ease-out;
}

/* animation for navigation blob */
@keyframes border-transform {
  0%,
  100% {
    border-radius: 78% 37% 47% 58% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.checkbox-wrapper input {
  position: fixed;
  top: 28px;
  left: 33px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: 15;
}

/* top hamburger bar */
.checkbox-wrapper label::before {
  content: "";
  height: 1px;
  width: 28px;
  border-bottom: 2px solid white;
  position: fixed;
  left: 46px;
  top: 40px;
  z-index: 11;
}

/* bottom two hamburger bars */
.checkbox-wrapper label::after {
  content: "";
  height: 10px;
  width: 28px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  position: fixed;
  left: 46px;
  top: 53px;
  z-index: 11;
}

/* top hamburger bar animation on click - turning in to an X */
.menu:checked + label:before {
  top: 50px;
  left: 38px;
  transform: rotate(45deg);
  width: 42px;
  height: 1px;
  background-color: white;
  border-bottom: 2px solid white;
  transition: top 1s 480ms, left 600ms 200ms, width 1s 200ms ease,
    height 600ms 200ms, background-color 200ms 500ms ease,
    transform 200ms 1000ms;
}

/* bottom hamburger bar animation on click - turning in to an X */
.menu:checked + label:after {
  top: 50px;
  left: 38px;
  transform: rotate(-45deg);
  width: 42px;
  height: 1px;
  background-color: white;
  border-top-width: 0px;
  border-bottom: 2px solid white;
  transition: top 1s 480ms, left 600ms 200ms, width 1s 200ms ease,
    border-top-width 100ms 200ms ease, height 600ms 200ms,
    background-color 200ms 500ms ease, transform 200ms 1000ms;
}

.links {
  visibility: hidden;
  display: block;
}

.menu:checked ~ .links {
  visibility: visible;
}

/* nav {
  position: relative;
  left: 16px;
  height: 380px;
  width: 240px;
  background-color: #353746;
} */
